.DS_Store
node_modules
/build
/.svelte-kit
/package
/dist
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# --- TAURI (ESTO ES LO QUE FALTABA) ---
src-tauri/target
src-tauri/gen

# Ignorar tokens de Google Drive
drive_token.json
src-tauri/drive_token.json
src-tauri/credentials.json